<h2>Riesgo Issue #<b class="roggedissueid"></b></h2>
<form name="rogissuemitigation" id="rogissuemitigation" action="/post/rogmitigation/save" method="post">
	<fieldset>
		<legend>Nuevo<span class="required"> *</span></legend>
		<p>
			<label for="issue_due_date">Riesgo<span class="required"> *</span></label><br>
			<textarea class="wiki-edit" cols="35" id="riesgo" name="riesgo" rows="7" required=""></textarea>
		</p>
		<p>
			<label>Mitigación %<span class="required"> *</span></label>
			<textarea class="wiki-edit" cols="35" id="mitigation" name="mitigation" rows="7" required=""></textarea>
		</p>
		<input name="authenticity_token" id="rogged_authenticity_token" type="hidden" value="">
		<input type="hidden" name="roggedissueid" id="roggedissueid">
		<input type="hidden" name="xobjid" id="xobjid" value="0">
		<input type="submit" name="btnsubmit" value="Grabar nuevo">
    </fieldset>
</form>
<p>&nbsp;</p>
<fieldset>
	<legend>Riesgo History</legend>
	<div class="autoscroll">
		<table class="list issues wrogmitigation">
		  <thead>
		    	<tr>
			        <th>#</th>
			        <th>Riesgo</th>
			        <th>Mitigación %</th>
			        <th></th>
		    	</tr>
		  	</thead>
		  	<tbody>
				<% @rogmitigations.each do |row| %>
					<tr class="hascontextmenu odd issue tracker-2 status-1 priority-2 priority-default child assigned-to-my-group" data-id="<%= row.id %>">
				  		<td class="id"><%= row.id %></td>
				  		<td class="tddescription objriesgo"><div class="dtext vmore"><%= row.riesgo %></div> <a class="icon icon-show rogged-more" href="">Ver completo</a></td>
				  		<td class="tddescription objmitigacion"><div class="dtext vmore"><%= row.mitigation %></div> <a class="icon icon-show rogged-more" href="">Ver completo</a></td>
				  		<td class="wactions" >
				  			<%= link_to 'Eliminar', { :action => 'delete', :id => row[:id] }, :method => :post %>  
				  			&nbsp;&nbsp;
				  			<a href="#rogissuemitigation" class="rowsedit">Editar</a>
				  		</td>
				  	</tr>
				<% end %>
		  	</tbody>
		</table>
	</div>
</fieldset>

<script type="text/javascript">
	xtokenaut=$('meta[name="csrf-token"]').attr("content")
	$('#rogged_authenticity_token').val(xtokenaut)
	var xurl_string = window.location.href;
	var xurl_string = new URL(xurl_string);
	var xissueid = xurl_string.searchParams.get("issueid");
	$('#roggedissueid').val(xissueid)
	$('.roggedissueid').html(xissueid)

	$('.rowsedit').click(function(){
		xobjid=$(this).parent().parent().attr('data-id');
		xobjriesgo=$(this).parent().parent().find('.objriesgo .dtext');
		xobjmitigacion=$(this).parent().parent().find('.objmitigacion .dtext');
		$('#xobjid').val(xobjid);
		$('#riesgo').val($(xobjriesgo).html());
		$('#mitigation').val($(xobjmitigacion).html());
		return false;
	});
</script>