body.controller-rogmitigations #wrapper3 #top-menu, body.controller-rogmitigations #wrapper3 #header{
	display: none !important;
}
.wrogmitigation .tddescription{

}
.wrogmitigation .tddescription .vmore{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 310px;
}
.wrogmitigation .tddescription .vmoreshow{
    max-width: 310px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: initial;
    text-align: initial;
}
.wrogmitigation .tddescription  .dtext{
	float: left;
	width: auto;
}
.wrogmitigation .tddescription  .rogged-more{
	float: right;
}
.dnone{
	display: none;
}